.quote {
    font: 400 72px 'Orbitron', sans-serif;
    color: #252c7c;
    text-align: center;
}

.post-title {
    font-family: 'Orbitron', sans-serif;
    color: #9dbbfa;
}

.carousel {
    margin: auto;
    width: 1170px;
}

.alert-success {
    margin-top: 170px;
    margin-bottom: 400px;
    text-align: center;
}

.jumbotron {
    padding-bottom: 5px;
}

.container {
    margin-top: -10px;
}

.footer {
    margin-top: 20px;
}

